.SpotifyCategories {
  border: 3.5px solid #1db954;
  border-top: 0;
  color: #212121;
  align-self: center;
  background-color: #e6e6e6;
  width: 100%;
  display: flex;
}

.spotifyCategories-btn {
  color: #1db954;
  border: none;
  background-color: #e6e6e6;
  padding-left: 0;
  padding-right: 0;
}

.spotifyCategories-btn:hover {
  color: #0f7535;
}

.spotifyCategory-chunks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catName {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catName p:hover {
  color: #0f7535;
  font-weight: bold;
}

.catName-selected {
  /* color: #0f7535; */
  font-weight: bold;
  /* text-shadow: 0 0 0.5em #0f7535; */
  text-decoration: underline;
  text-decoration-color: #0f7535;
}

.catName p {
  color: black;
}
