.SpotifyToolbar {
  z-index: 1;
  width: 55%;
  position: fixed;
  left: 6%;
  top: calc(60px + 2%);
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.SpotifyToolbar-btn {
  width: calc(100% / 3);
  height: 50px;
  border-color: #1db954;
  border-style: solid;
  border-width: 3.5px;
  color: #212121;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #e6e6e6;
  text-decoration: underline;
  text-decoration-color: #1db954;
}

.SpotifyToolbar-btn:hover {
  background-color: white;
  color: #212121;
}

.SpotifyToolbar-selected-btn {
  background-color: #212121;
  color: white;
}

.SpotifyToolbar-selected-btn:hover {
  background-color: #212121;
  color: white;
}

.btn-left {
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
  border-right: 2px;
}

.btn-right {
  border-end-end-radius: 25px;
  border-start-end-radius: 25px;
  border-left: 2px;
}
