.musicShuffler {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

h5 {
  color: white;
  margin-bottom: 0;
  text-decoration: underline;
  text-decoration-color: #1db954;
  padding-bottom: 2px;
}

.arrow-btn {
  cursor: pointer;
  margin: 0 4px 0 4px;
  color: #1db954;
}
