.musicInfo {
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  flex-grow: 1;
}

.musicInfo-info {
  display: flex;
  margin-bottom: 5%;
  flex-grow: 1;
}
.musicInfo-album-artist {
  align-self: stretch;
  margin-right: 5%;
  margin-bottom: 5%;
}

.musicInfo-img-container {
  max-width: 35%;
  align-self: center;
}

.musicInfo-img {
  width: 100%;
}

p {
  margin: 0;
  color: rgba(245, 245, 245, 0.774);
}

h3 {
  margin: 0;
  color: white;
}

hr {
  color: #1db954;
  border: 3px;
  width: 100%;
}
