.backgroundImg-container {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: "url(/unsplashPhoto.jpg)";
  background-position: center center;
  background-size: cover;
  z-index: -1; */
}
.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
