nav {
  /* background-color: #004700; */
  background-color: #1b0800;
  height: 60px;
}

.navbar-text {
  color: whitesmoke;
}

.navbar-profile-img {
  height: 50px;
  border-radius: 50%;
}

.navbar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-text:hover {
  color: rgb(172, 173, 172);
}
