nav {
  background-color: black;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid white;
}

.nav-logo {
  font-weight: bold;
}

.nav-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-profile-img {
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: underline;
  text-decoration-color: #1db954;
  color: rgba(245, 245, 245, 0.774);
  font-size: 18px;
}

.nav-link:hover {
  color: white;
}

.nav-link:visited {
  color: rgba(245, 245, 245, 0.774);
}

.logo-container {
  display: flex;
  align-items: center;
}

.globe-icon {
  margin-right: 7px;
}
